# Ignore data files
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Wandb Logs
wandb/

# Experiment outputs
results/
outputs/
logs/

# Model checkpoints
*.ckpt
*.pth
*.pt

# matplot images
*.png
*.jpg
*.jpeg
*.pdf
