# Ignore data files
_data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Wandb Logs
_wandb/

# Experiment outputs
_results/
_outputs/
_logs/
_experiments/

# Model checkpoints
*.ckpt
*.pth
*.pt

# matplot images
*.png
*.jpg
*.jpeg
*.pdf
